<ion-header>
  <ion-navbar>
  <ion-title>
  Ionic3 Server Send Test
  </ion-title>
  </ion-navbar>
 </ion-header>
 
 <ion-content padding>
  <ion-list>
      <form #form="ngForm" [formGroup]="slideOneForm" (ngSubmit)="submit(form)" >
      <ion-item>
          <ion-label color="primary" stacked>File</ion-label>
          <ion-input type="file" formControlName="myfile"   (change)="getFiles($event)"></ion-input>
          
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>first name</ion-label>
            <ion-input type="text" placeholder="first name" formControlName="first_name" value="test"  ngControl="first_name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.first_name.valid  && (slideOneForm.controls.first_name.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>last name</ion-label>
            <ion-input type="text" placeholder="last name" formControlName="last_name" value="test"  ngControl="last_name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.last_name.valid  && (slideOneForm.controls.last_name.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
              <ion-label color="primary" stacked>lang</ion-label>
              <ion-select formControlName="lang"  value="en" ngControl="lang">
                  <ion-option value="en">English</ion-option>
                  <ion-option value="fr">Franch</ion-option>
                </ion-select>
            </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" placeholder="Email" value="test@mail.com" formControlName="email"  ngControl="email"></ion-input>
  </ion-item>
 
  <ion-item *ngIf="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)">
    <p>Sorry, that username can not be used! {{slideOneForm.controls.email.valid}}</p>
</ion-item>
<ion-item *ngIf="slideOneForm.controls.email.pending">
  <p>Checking username...</p>
</ion-item>

  <ion-item>
    <ion-label color="primary" stacked>password</ion-label>
    <ion-input type="password" placeholder="password" formControlName="password"  ngControl="password"></ion-input>
  </ion-item>

  <button ion-button block type="submit">Submit to server</button>
</form>
  </ion-list>

  
 
  <ion-card>
  <ion-card-header>
  Response
  </ion-card-header>
 
  <ion-card-content>
  <b>{{data.response}}</b>
  </ion-card-content>
  </ion-card>
 </ion-content>