<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Users
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar (input)="search($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let user of users" (click)="goToDetails(user.login)">
      <ion-avatar item-left>
        <img [src]="user.avatar_url">
      </ion-avatar>
      <h2>{{ user.login }}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>